body {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.btn-customer {
    background-color: #841FFD;
    color: white;
    padding: 1rem 0;
    margin-top: 0.5rem;
    width:100%;
}
