.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .5rem;
}

.title .name {
    color: #2e2e2e;
}

.week {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.week .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.week .day.checkedin {
    background-color: #841FFD;
    color: white;
}

.week .day.notcheckin {
    background-color: white;
    border: 0.15rem solid #c2c2c2;
    color: #c2c2c2;
}

.week .day.waiting_checkedin {
    background-color: #2e2e2e;
    color: white;
}

.welcome {
    color: #2e2e2e;
    margin: 1rem 0;
}

.welcome .date {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /*padding: 1rem 0;
    background-color: #841FFD;*/
}

.form-checkin {
    display: flex;
    flex-direction: column;
    color: #2e2e2e;
}

/* the followings are for records page */
.record-area {
    display: flex;
    flex-direction: column;
}

.record-area .record-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 0.5rem;
}

.record-area .record-item span {
    padding-left: 0.5rem;
    flex-grow:2;
}

.record-area .record-item.checkedin {
    background-color: #00cd2d1a;
    /*background: linear-gradient(0deg, rgba(0, 205, 45, 0.1), rgba(0, 205, 45, 0.1)), #FFFFFF; */
    color: #176b2a;
}

.record-area .record-item.notcheckedin {
    background-color: #35383E1A;
    color: #35383e;
}

.record-area .record-item.tocheckin {
    background-color: #FFAA041A;
    color: #805d19;
}

.record-area .record-item.notcheckedin .btn-backdate {
    background-color: #ffb931;
    color: white;
    padding: .5rem .5rem;
}
