<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
  </head>
  <body>
    <form id="time-form" class="time-period-area" action="/admin/records/email" method="post">
      <label for="time-period-selector" class="form-label">请选择时间段</label>
      {#<select class="form-select" aria-label="time period" id="time-period-selector" onchange="date_period_select(this)">
        <option value="1" selected>本周</option>
        <option value="2">上周</option>
        <option value="3">自定义时间段</option>
      </select>#}
      <section class="time-period-selector" id="time-period-selector">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="time_period_option" id="time_period_option_1" value="1" onclick="date_period_option_clicked(this)" checked>
          <label class="form-check-label" for="time_period_option_1">本周</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="time_period_option" id="time_period_option_2" value="2" onclick="date_period_option_clicked(this)">
          <label class="form-check-label" for="time_period_option_2">上周</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="time_period_option" id="time_period_option_3" value="3" onclick="date_period_option_clicked(this)">
          <label class="form-check-label" for="time_period_option_3">自定义时间段</label>
        </div>
      </section>
      <div class="input-group mb-3" id="dates-input" hidden>
        <input type="date" class="form-control" name="begin_date" aria-label="begin_time">
        <span class="input-group-text">-</span>
        <input type="date" class="form-control" name="end_date" aria-label="end_time">
      </div>
      <label for="companies" class="form-label">请选择公司</label>
      {% for c in companies -%}
      <div class="form-check" id="companies">
          <input class="form-check-input" type="radio" name="company_id" id="company_radio_{{c.id}}" value="{{c.id}}" required oninvalid="setCustomValidity('请选择您所在的公司');" oninput="setCustomValidity('');">
          <label class="form-check-label" for="company_radio_{{c.id}}">{{c.name}}</label>
      </div>
      {%- endfor %}
      <button type="button" class="btn btn-customer rounded-pill" onclick="preview_records()">预览</button>
      <button type="button" class="btn btn-customer rounded-pill" onclick="email_records()">发送报告到我的电子邮箱</button>
    </form>
    <section class="record-area">
      <table class="table">
        <thead>
          <tr id="theader">
            {#<th scope="col">#</th>
            <th scope="col">姓名</th>
            <th scope="col">周一</th>
            <th scope="col">周二</th>
            <th scope="col">周三</th>
            <th scope="col">周四</th>
            <th scope="col">周五</th>
            <th scope="col">周六</th>
            <th scope="col">周日</th>#}
          </tr>
        </thead>
        <tbody id="records">
          {#{% for staff in staffs -%}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{staff.last_name}}{{staff.first_name}}</td>
            {% for day in staff.days -%}
            {% if day != 0 -%}
            <td><strong>{{day}}</strong></td>
            {%- else -%} 
            <td>{{day}}</td>
            {%- endif %}
            {%- endfor %}
          </tr>
          {%- endfor %}#}
        </tbody>
      </table>
      <section class="summary" id="summary">
        <div>
          <label for="total-person">签到总人数/总人数</label>
          <text id="total-person"></text>
        </div>
        <div>
          <label for="total-checkin">签到总次数</label>
          <text id="total-checkin"></text>
        </div>
      </section>
    </section>
    <script src="{{url_for('static', filename='js/common.js')}}"></script>
    <script>
      function date_period_option_clicked(o) {
        var ele = document.getElementById('dates-input');
        if (o.value == 3) {
          ele.hidden = false;
        } else {
          ele.hidden = true;
        }
      }
      
      function init() {
        var value = 0;
        var radios = document.getElementsByName('time_period_option');
        for (var i = 0; i < radios.length; i++) {
          if (radios[i].checked) {
            value = radios[i].value;
            break;
          }
        }

        var ele = document.getElementById('dates-input');
        if (value == 3) {
          ele.hidden = false;  
        } else {
          ele.hidden = true;
        }
      }

      function preview_records() {
        var form = document.getElementById('time-form');
        var time_period_option = form.elements['time_period_option'].value;

        if (time_period_option == 3) {
          var begin_date = form.elements['begin_date'];
          var end_date = form.elements['end_date'];
        }

        var company_id = form.elements['company_id'].value;

        postJSON('/admin/records/preview', {
          time_period_option: time_period_option,
          company_id: company_id == null ? 0 : company_id,
          begin_date: begin_date,
          end_date: end_date,
        }).then(function(record) {
          var header = record.header
          var records = record.records;
          var total_checkin = record.total_checkin;
          var total_person = record.total_person;
          var theader = document.getElementById('theader');
          var tbody = document.getElementById('records');
          //tbody.removeChild()
          // table header
          theader.innerHTML="";
          header.forEach(item => {
              var th = document.createElement('th');
              th.classList.add('col');
              var node = document.createTextNode(item);
              th.appendChild(node);
              theader.append(th);
          })
          // table body - data
          tbody.innerHTML = "";
          for (var i = 0; i < records.length; i++) {
            var tr = document.createElement('tr');
            records[i].forEach(item => {
              var td = document.createElement('td');
              var day_node = document.createTextNode(item);
              td.appendChild(day_node);

              tr.appendChild(td);
            });
            /*
            var th = document.createElement('th');
            th.classList.add('col');
            var seq_node = document.createTextNode(i+1);
            th.appendChild(seq_node);
            tr.appendChild(th);
            var td = document.createElement('td');
            var name_node = document.createTextNode(records[i].last_name + records[i].first_name);
            td.appendChild(name_node);
            tr.appendChild(td);
            td = document.createElement('td');
            var company_node = document.createTextNode(records[i].company);
            td.appendChild(company_node);
            tr.appendChild(td);
            records[i].days.forEach(day => {
              var td = document.createElement('td');
              var day_node = document.createTextNode(day);
              td.appendChild(day_node);

              tr.appendChild(td);
            })
            */
            tbody.appendChild(tr);
          }

          show_summary(total_checkin, total_person, records.length);
        });
      }

      function show_summary(total_checkin, total_person, all_person) {
        var person_node = document.getElementById('total-person');
        var person_text_node = document.createTextNode(String(total_person) + '/' + String(all_person));
        person_node.innerHTML = "";
        person_node.appendChild(person_text_node);

        var checkin_node = document.getElementById('total-checkin');
        var checkin_text_node = document.createTextNode(String(total_checkin));
        checkin_node.innerHTML = "";
        checkin_node.appendChild(checkin_text_node);
      }

      function email_records() {
        var form = document.getElementById('time-form');
        form.submit();
      }

      window.onload = init
    </script>
  </body>
</html>
